.container{
    /* align-items: center; */

    border:  double;
    margin-top: 20px;
    width: 400px;
    height: auto;

}
img{
    margin-left: 30px ;
}
p{
    margin: 30px ;
}
h2{
    margin: 30px ;

}
hr{
    margin-top: -20px ;

    border: 2px solid black;
}
.image{
    width:80px;
    /* border-radius: 50%; */
}
/* .hello img{
    margin-left: 40px;
} */
.avatar{

    width: 120px;
    border-radius: 50%;
    /* margin: 20px auto; */
    margin-left: -70%;
    margin-bottom: -40px;
    margin-top: 5px;
}
.h2{
    font-size: xx-large;
    margin-top: -10%;
    margin-left:-10%;
}
.title{
    margin-top: 60px;
}
#a{
    margin-left: 0%;
}
#b{
    margin-left: 20%;
    width: 80px;
}
#c{
    margin-left: 20%;

}